*{
    padding: 0px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    border-width: 10px;
    
       
}    
    body{
        background: white;
    
}

  .wrapper .sidebar{
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
    align-items: center;
    }
 .wrapper .sidebar .profile{
        margin-bottom: 30px;
        text-align: center;
    }
   
    .wrapper .sidebar .profile img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 60%;
        margin: 0px auto yellow;
    }
   
    .wrapper .sidebar .profile h3{
        color: black;
        margin: 10px 0 5px;
    }
   
    .wrapper .sidebar .profile p{
        color: whitesmoke;
        font-size: 10px;
    }
    .wrapper .sidebar ul li a{
        display: block;
        padding: 13px 30px;
        border-bottom: 0px solid red;
        color: rgb(241, 237, 237);
        font-size: 16px;
        position: relative;
    }
    .wrapper .sidebar ul li a:hover,
    .wrapper .sidebar ul li a.active{
    color: black;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
 }
  
  
 .wrapper .sidebar ul li a:hover:before,
 .wrapper .sidebar ul li a.active:before{
    display: block;
    transition: all 0.5s ease;
 }
 

.wrapper .section .navbar{
    background: pink;
    height: auto;
    margin: 30px;
    align-items: center;
    

}
