*{
    padding: 0px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
    margin: auto;
    padding: 0;
    box-sizing: border-box;

}
.header{
    min-height: 20vh;
    text-align: center;
    
}
.container{
    text-align: center;
}

.nav {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    flex: inherit;
    word-spacing: 1cm;


}

.nav li {
    display: inline-flex;


}

.nav ul {
    list-style: none;
    background-color: white;
    text-align: center;


}
